opentelemetry-api==1.0.0
opentelemetry-instrumentation
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-sdk
opentelemetry-util-http
pyyaml
protobuf==3.15.2
pytest
