aiohttp
google>=3.0.0
pyyaml
pytest>=6.2.3
protobuf>=3.15.8
tox>=3.23.0
pylint==2.8.2
pdoc3>=0.9.2
flask>=1.0.1
Django==3.2.7
pytest-django==4.4.0
psycopg2>=2.9.1
mysql-connector-python>=8.0.26
setuptools==49.2.1
