[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentelemetry-api = "==1.0.0"
opentelemetry-instrumentation = "*"
opentelemetry-exporter-zipkin = "*"
opentelemetry-propagator-b3 = "*"
opentelemetry-exporter-otlp = "*"
opentelemetry-instrumentation-aiohttp-client = "*"
opentelemetry-instrumentation-wsgi = "*"
opentelemetry-util-http = "*"
google = "*"
protobuf = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.7"
