opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-aiohttp-client==0.47b0
opentelemetry-instrumentation-boto==0.47b0
opentelemetry-instrumentation-botocore==0.47b0
opentelemetry-instrumentation-wsgi==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-instrumentation-flask==0.47b0
opentelemetry-instrumentation-mysql==0.47b0
opentelemetry-instrumentation-psycopg2==0.47b0
opentelemetry-instrumentation-requests==0.47b0
opentelemetry-instrumentation-grpc==0.47b0
opentelemetry-instrumentation-django==0.47b0
opentelemetry-instrumentation-aws-lambda==0.47b0
opentelemetry-propagator-b3==1.26.0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-util-http==0.47b0
google>=3.0.0
pyyaml
protobuf<5
deprecated==1.2.14
