opentelemetry-api==1.4.0
opentelemetry-exporter-otlp==1.4.0
opentelemetry-exporter-zipkin==1.4.0
opentelemetry-instrumentation==0.26b1
opentelemetry-instrumentation-aiohttp-client==0.26b1
opentelemetry-instrumentation-wsgi==0.26b1
opentelemetry-instrumentation-flask==0.26b1
opentelemetry-instrumentation-mysql==0.26b1
opentelemetry-instrumentation-psycopg2==0.26b1
opentelemetry-instrumentation-requests==0.26b1
opentelemetry-instrumentation-grpc==0.26b1
opentelemetry-instrumentation-django==0.26b1
opentelemetry-instrumentation-aws-lambda==0.26b1
opentelemetry-propagator-b3==1.4.0
opentelemetry-sdk==1.4.0
opentelemetry-util-http==0.26b1
google>=3.0.0
pyyaml
protobuf>=3.15.8
deprecated==1.2.12
