opentelemetry-api==1.1.0
opentelemetry-exporter-otlp==1.1.0
opentelemetry-exporter-zipkin==1.1.0
opentelemetry-exporter-jaeger==1.1.0
opentelemetry-instrumentation==0.20b0
opentelemetry-instrumentation-aiohttp-client==0.20b0
opentelemetry-instrumentation-wsgi==0.20b0
opentelemetry-instrumentation-flask==0.20b0
opentelemetry-instrumentation-requests==0.20b0
opentelemetry-instrumentation-grpc==0.20b0
opentelemetry-propagator-b3==1.1.0
opentelemetry-util-http==0.20b0
google
protobuf
pyyaml
flask
pytest
gunicorn
