opentelemetry-api==1.0.0
opentelemetry-instrumentation
opentelemetry-exporter-zipkin
opentelemetry-exporter-otlp
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-mysql
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-util-http
google
protobuf
google-cloud
pyyaml
mysql.connector
flask
pytest
gunicorn
