opentelemetry-api==1.0.0
opentelemetry-instrumentation
opentelemetry-exporter-zipkin
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-mysql
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-util-http
google
protobuf
google-cloud
pyyaml
flask
pytest
pytest-xdist
