opentelemetry-api==1.0.0
opentelemetry-instrumentation
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-mysql
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-util-http
google
protobuf
google-cloud
pyyaml
#mysql.connector
mysql-connector-python==8.0.23
flask
pytest
