opentelemetry-api==1.0.0
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-util-http
google
protobuf
google-cloud
pyyaml
flask
